SYNC_DATABASE_URL=postgresql://postgres:0000@localhost:5432/seungyo_db
DATA_SOURCE_MODE=kbo
KBO_BASE_URL=https://www.koreabaseball.com
CHROME_BINARY=C:\Program Files\Google\Chrome\Application\chrome.exe
CHROME_HEADLESS=true
CHROME_KEEP_OPEN=false
CHROME_PAGE_TIMEOUT_SECONDS=30
CHROME_PAGE_SETTLE_SECONDS=1.5
CHROME_BOXSCORE_SETTLE_SECONDS=0.2
CHROME_CACHE_TTL_SECONDS=30
